.A_Logo {
  width: 90px;
  height: 40px;
  background-image: url(../../images/A_Logo.svg);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

a.A_Button {
  display: block;
  display: flex;
  width: fit-content;
  align-items: center;
  height: 48px;
  padding: var(--space-8) var(--space-24);
  background-color: var(--gray-base);
  color: var(--white-500);
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;

  &.secondary {
    background-color: transparent;
    border: 2px solid var(--gray-base);
    color: var(--gray-base);
  }
}
.A_IconText {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  width: fit-content;
  align-items: center;
}
.A_CircleMarker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  font-weight: 500;
}
/* TextDescription */
.A_CaptionText {
  display: flex;
  max-width: 410px;
  position: relative;
  padding: 0 var(--space-12);
  border-left: 1.5px dashed var(--gray-base);
  p {
    color: var(--gray-soft);
  }
}
