.A_Logo {
  width: 90px;
  height: 40px;
  background-image: url(../../images/A_Logo.svg);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.A_DVDLogo {
  grid-column: span 5;
  position: relative;
  min-height: 200px;

  .bouncing-logo {
    position: absolute;
    width: 140px;
    height: 90px;
  }
  h1 {
    line-height: 40px;
  }
}

/* Inputs */
input.A_SearchInput {
  all: unset;
  font-family: 'Aeonik Pro';
  font-size: 1.5rem;
  color: var(--gray-base);
  font-weight: 500;

  &::placeholder {
    color: var(--gray-light);
  }
}

/* Buttons */

.A_TelegramButton {
  height: 40px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1.5px solid var(--gray-medium);
  color: var(--gray-medium);
  text-decoration: none;
  width: fit-content;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 8px 12px;
  gap: var(--space-4);

  .Q_Telegram {
    width: 24px;
    height: 26px;
    background-size: cover;
    background-image: url('../../images/icons/telegramLogo.svg');
  }
}

.A_CodeTab {
  font-family: 'Aeonik Mono';
  border-radius: 4px;
  border: 1px solid var(--gray-lightest);
  height: 2rem;
  padding: var(--space-6) var(--space-12);
  font-size: 14px;
  background: transparent;
}

.A_CopyButton {
  border: none;
  background: transparent;
  font-family: 'Aeonik Pro';
  font-size: 1rem;
  color: var(--gray-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-2);
  padding: 0;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.A_CopyButton-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.A_CopyButton__icon {
  width: 20px;
  height: 20px;
}

.A_CopyButton__text {
  text-decoration: underline;
}

.A_MobileHeaderLink {
  height: 48px;
  width: 100%;
  border-bottom: 1px solid var(--gray-lightest);
  font-size: 1.5rem;
  color: var(--gray-base);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-weight: 500;
}

.A_CopyButton.copied .A_CopyButton__text {
  text-decoration: none;
}
.A_Button {
  display: block;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: var(--space-8) var(--space-24);
  background: linear-gradient(0deg, #151514 70.7%, #5d5d5c 110.42%);
  color: var(--white-500);
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Aeonik Pro';
  font-size: 1rem;
  transition: 0.3s all ease-in-out;

  &.secondary {
    background: transparent;
    border: 2px solid var(--gray-base);
    color: var(--gray-base);
    font-weight: 500;
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.A_NavigationMenuButton {
  min-width: 32px;
  min-height: 32px;
  border: none;
  border-right: 1px solid var(--gray-lightest);
  background: transparent;
  background-image: url('../../images/icons/Q_LayoutOpen-20.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: none;

  &.opened {
    background-image: url('../../images/icons/Q_LayoutClosed-20.svg');
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.A_CollapseName {
  font-weight: 500;
}

.A_IconButton {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;

  &.hamburger {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: currentColor;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.A_FilterDropdown {
  gap: var(--space-2);
  padding: 0px 8px 0px 12px;

  &.active {
    border-color: #000;
    background: #f5f5f5;
  }
}

.A_FilterDropdown,
.A_FilterToggle {
  display: flex;
  align-items: center;
  font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 40px;
  border-radius: 6px;
  color: var(--gray-base);
  border: 1.5px solid var(--Colors-neutral-gray-lightest, #d4d4d4);
  background: transparent;
  cursor: pointer;
  white-space: nowrap;

  img {
    width: 26px;
    height: 26px;
  }
}

/* Toggle кнопка */
.A_FilterToggle {
  padding: 8px 12px;

  &.active {
    background: var(--gray-base);
    color: var(--white-500);
  }

  &.all-filters {
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
}

button.A_Tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  border: none;
  background-color: transparent;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Aeonik Pro';
  position: relative;

  p:last-child {
    font-size: 1rem;
    color: var(--gray-light);
  }
}

/* --------------------------------- */
.A_IconText {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  width: fit-content;
  align-items: center;
}
.A_CircleMarker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  font-weight: 500;

  @media screen and (max-width: 1024px) {
    flex-direction: row;

    .Q_Circle {
      width: 2rem;
      height: 2rem;

      p.subtitle {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
/* TextDescription */
.A_CaptionText {
  display: flex;
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 0 var(--space-12);
  border-left: 1.5px dashed var(--gray-base);
  grid-column: span 3;
  margin-top: auto;

  p {
    color: var(--gray-soft);
  }

  @media screen and (max-width: 1024px) {
    padding-left: 0;
    font-size: 1.5rem;
    border: none;

    p.body-other {
      font-weight: 500;
      line-height: 1.5rem;
    }

    .Q_HandleSquare {
      display: none;
    }
  }
}

.A_Poster {
  /* width: calc(33.95% - var(--grid-gap)); */
  grid-template-columns: 1fr;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  /* position: relative; */

  a {
    /* background: #000; */
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.01) rotate(0deg) translate(0px, 0px) skewX(0deg);
  }
}
/* PosterPage */
.A_PosterCover {
  width: 100%;
  aspect-ratio: 443 / 628;
  grid-column: 1/6;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 1024px) {
    grid-column: 1/5;
  }

  @media screen and (max-width: 768px) {
    grid-column: 2/6;
  }
  @media screen and (max-width: 528px) {
    grid-column: -1/1;
  }
}
.A_CategoryFilterHeader {
  border: none;
  display: flex;
  margin-left: -0.6rem;
  align-items: center;
  height: 26px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Aeonik Pro';
  &:hover {
    cursor: pointer;
  }

  /* img {
    width: 20px;
    height: 20px;
    background-color: red;
  } */
}

.A_Tag {
  font-size: 1rem;
  padding: var(--space-6) var(--space-8);
  border: 1px solid var(--gray-base);
  width: fit-content;
  border-radius: 4px;
  user-select: none;

  &.code {
    font-family: 'Aeonik Mono';
    text-transform: capitalize;
    border: 1px solid var(--gray-lightest);
    color: var(--gray-medium);
  }
  /* Only for chapters */
  @media (max-width: 768px) {
    &.article-type {
      border: none;
      font-weight: 500;
      padding: 0;
      font-size: 1.125rem;
      color: var(--gray-light);
    }

    &.article-type::after {
      content: ' · ' attr(data-count) ' статьи';
      display: inline;
    }
  }
}
.A_ListItem {
  font-size: 1rem;
  text-decoration: none;
  line-height: 20px;
  min-height: 2rem;
  height: fit-content;

  &:hover {
    text-decoration: underline;
    color: var(--gray-soft);
  }
}
.A_PosterArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);

  figcaption {
    color: var(--gray-soft);
  }

  img {
    border-radius: 2px;
  }
}
.A_LineNumbers {
  display: flex;
  flex-direction: column;
  text-align: right;
  user-select: none;
  font-family: 'Aeonik Mono';
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--gray-light);
}
.A_CodeBlock {
  /* white-space: pre; */
  code {
    line-height: 1.5rem;
  }
}
.A_Illustration {
  display: flex;
  height: fit-content;
  flex-direction: row;
  position: relative;
  width: fit-content;
  padding: clamp(1rem, -0.143rem + 2.381vw, 2rem);
  z-index: 2;

  .Q_HandleSquare {
    background-color: var(--white-500);
  }

  img {
    width: 100%;
    max-height: 200px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
