.A_Logo {
  width: 90px;
  height: 40px;
  background-image: url(../../images/A_Logo.svg);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

button,
a.A_Button {
  display: block;
  display: flex;
  width: fit-content;
  align-items: center;
  height: 48px;
  padding: var(--space-8) var(--space-24);
  background: linear-gradient(0deg, #151514 70.7%, #5d5d5c 110.42%);
  color: var(--white-500);
  border-radius: 4px;
  border: 1px solid var(--gray-lightest);
  text-decoration: none;
  font-weight: 500;

  &.secondary {
    background-color: transparent;
    border: 2px solid var(--gray-base);
    color: var(--gray-base);
  }

  &:hover {
    cursor: pointer;
  }
}
.A_IconText {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  width: fit-content;
  align-items: center;
}
.A_CircleMarker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  font-weight: 500;
}
/* TextDescription */
.A_CaptionText {
  display: flex;
  max-width: 410px;
  position: relative;
  padding: 0 var(--space-12);
  border-left: 1.5px dashed var(--gray-base);
  p {
    color: var(--gray-soft);
  }
}
.A_Poster {
  width: calc(26% - var(--grid-gap));
  border-radius: 2px;
  overflow: hidden;
  /* position: relative; */

  a {
    /* background: #000; */
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* PosterPage */
.A_PosterCover {
  width: 100%;
  aspect-ratio: 443 / 628;
  grid-column: 4/8;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
