.A_Logo {
  width: 90px;
  height: 40px;
  background-image: url(../../images/A_Logo.svg);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

.A_DVDLogo {
  grid-column: span 5;
  position: relative;
  min-height: 200px;

  .bouncing-logo {
    position: absolute;
    width: 140px;
    height: 90px;
  }
  h1 {
    line-height: 40px;
  }
}

/* Inputs */
input.A_SearchInput {
  all: unset;
  font-family: 'Aeonik Pro';
  font-size: 1.5rem;
  color: var(--gray-base);
  font-weight: 500;

  &::placeholder {
    color: var(--gray-light);
  }
}

/* Buttons */

.A_TelegramButton {
  height: 40px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1.5px solid var(--gray-medium);
  color: var(--gray-medium);
  text-decoration: none;
  width: fit-content;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 8px 12px;
  gap: var(--space-4);

  .Q_Telegram {
    width: 24px;
    height: 26px;
    background-size: cover;
    background-image: url('../../images/icons/telegramLogo.svg');
  }
}

.A_SliderButton {
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  border: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
}

.A_CodeTab {
  font-family: 'Aeonik Mono';
  border-radius: 4px;
  border: 1px solid var(--gray-lightest);
  height: 2rem;
  padding: var(--space-6) var(--space-12);
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.15s ease;

  &.active {
    background-color: var(--gray-medium);
    color: var(--white-500);
  }
}

.A_CopyButton {
  border: none;
  background: transparent;
  font-family: 'Aeonik Pro';
  font-size: 1rem;
  color: var(--gray-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-2);
  padding: 0;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.A_CopyButton-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.A_CopyButton__icon {
  width: 20px;
  height: 20px;
}

.A_CopyButton__text {
  text-decoration: underline;
}

.A_MobileHeaderLink {
  height: 48px;
  width: 100%;
  border-bottom: 1px solid var(--gray-lightest);
  font-size: 1.5rem;
  color: var(--gray-base);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-weight: 500;
}

.A_CopyButton.copied .A_CopyButton__text {
  text-decoration: none;
}
.A_Button {
  display: block;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: var(--space-8) var(--space-24);
  background: linear-gradient(0deg, #151514 70.7%, #5d5d5c 110.42%);
  color: var(--white-500);
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Aeonik Pro';
  font-size: 1rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;

  &.secondary {
    background: transparent;
    border: 2px solid var(--gray-base);
    color: var(--gray-base);
    font-weight: 500;
    font-size: 1rem;
  }

  &.small {
    height: 40px;
    padding: var(--space-8) var(--space-8) var(--space-8) var(--space-12);
    background: transparent;
    font-size: 1rem;
    gap: var(--space-4);
    border: 2px solid var(--gray-base);
    color: var(--gray-base);

    &:hover {
      opacity: 0.7;
    }
  }
}

.A_NavigationMenuButton {
  min-width: 32px;
  min-height: 32px;
  border: none;
  border-right: 1px solid var(--gray-lightest);
  background: transparent;
  background-image: url('../../images/icons/Q_LayoutOpen-20.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: none;

  &.opened {
    background-image: url('../../images/icons/Q_LayoutClosed-20.svg');
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

details.A_More {
  width: fit-content;
  color: var(--gray-base);
  font-size: 1.25rem;
  /* background: red; */
  position: relative;

  .chevron {
    /* background: blue; */
    width: 24px;
    height: 24px;
    top: 2px;
    /* position: absolute; */
  }

  p {
    margin-top: var(--space-8);
    padding-left: 4px;
  }
  summary {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    list-style: none;
    font-weight: 500;
    &::-webkit-details-marker {
      display: none;
    }
  }
  cursor: pointer;
}

details[open] .chevron {
  transform: rotate(180deg);
}

.A_CollapseName {
  font-weight: 500;
  font-size: 1rem;
}

.A_IconButton {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;

  &.hamburger {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: currentColor;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.A_FilterDropdown {
  gap: var(--space-2);
  padding: 0px 8px 0px 12px;

  &.active {
    border-color: #000;
    background: #f5f5f5;
  }
}

.A_FilterDropdown,
.A_FilterToggle {
  display: flex;
  align-items: center;
  font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 40px;
  border-radius: 6px;
  color: var(--gray-base);
  border: 1.5px solid var(--gray-lightest);
  background: transparent;
  cursor: pointer;
  white-space: nowrap;

  img {
    width: 26px;
    height: 26px;
  }
}

/* Toggle кнопка */
.A_FilterToggle {
  padding: 8px 12px;

  &.active {
    background: var(--gray-base);
    color: var(--white-500);
  }

  &.all-filters {
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
}

button.A_Tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  border: none;
  background-color: transparent;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Aeonik Pro';
  position: relative;

  p:last-child {
    font-size: 1rem;
    color: var(--gray-light);
  }
}

/* --------------------------------- */
.A_IconText {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  width: fit-content;
  align-items: center;
}
.A_CircleMarker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  font-weight: 500;

  @media screen and (max-width: 1024px) {
    flex-direction: row;

    .Q_Circle {
      width: 2rem;
      height: 2rem;

      p.subtitle {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
/* TextDescription */
.A_CaptionText {
  display: flex;
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 0 var(--space-12);
  border-left: 1.5px dashed var(--gray-medium);
  grid-column: -4 / -1;
  margin-top: auto;

  .Q_HandleSquare {
    background: var(--gray-medium);
  }

  p {
    color: var(--gray-soft);
  }

  @media screen and (max-width: 1180px) {
    grid-column: -5 / -1;
  }
  @media screen and (max-width: 1024px) {
    grid-column: -4/-1;

    @media screen and (max-width: 840px) {
      grid-column: 1/-1;
      padding-left: 0;
      font-size: 1.5rem;
      border: none;

      p.body-other {
        font-weight: 500;
        line-height: 1.5rem;
      }

      .Q_HandleSquare {
        display: none;
      }
    }
  }
}

.A_Poster {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.01);
  }

  .W_PosterAbout {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    pointer-events: none;

    /* Начальное состояние */
    opacity: 0;
    transform: scale(0.97);

    /* Анимация — тот же тайминг, что и у карточки */
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    h4,
    p {
      color: var(--white-500);
    }
  }

  &:hover .W_PosterAbout {
    opacity: 1;
    transform: scale(1);
  }

  @media screen and(max-width:768px) {
    &:hover .W_PosterAbout {
      opacity: 0;
      transform: scale(1);
    }
  }
}

.A_RelatedPosterCard {
  display: block;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* PosterPage */
.A_PosterCover {
  width: 100%;
  aspect-ratio: 443 / 628;
  grid-column: 2/6;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 1024px) {
    grid-column: 1/5;
  }

  @media screen and (max-width: 768px) {
    grid-column: 2/6;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 528px) {
    grid-column: -1/1;
  }
}
.A_CategoryFilterHeader {
  border: none;
  display: flex;
  margin-left: -0.6rem;
  align-items: center;
  height: 26px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Aeonik Pro';
  &:hover {
    cursor: pointer;
  }

  /* img {
    width: 20px;
    height: 20px;
    background-color: red;
  } */
}

.A_Tag {
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
  padding: var(--space-6) var(--space-8);
  border: 1px solid var(--gray-base);
  border-radius: 4px;
  user-select: none;

  &.code {
    font-family: 'Aeonik Mono';
    text-transform: capitalize;
    border: 1px solid var(--gray-lightest);
    color: var(--gray-medium);
  }
  /* Only for chapters */
  @media (max-width: 768px) {
    &.article-type {
      border: none;
      font-weight: 500;
      padding: 0;
      font-size: 1.125rem;
      color: var(--gray-light);
    }

    &.article-type::after {
      content: ' · ' attr(data-count) ' статьи';
      display: inline;
    }
  }
}
.A_ListItem {
  font-size: 15px;
  text-decoration: none;
  line-height: 125%;
  min-height: 1.5rem;
  height: fit-content;
  padding-left: 2px;
  /* white-space: nowrap; */

  &:hover {
    text-decoration: underline;
    color: var(--gray-soft);
  }

  &.is-active {
    background: rgba(122, 223, 241, 0.25);
    position: relative;

    &::before {
      content: '';
      height: 100%;
      width: 2px;
      position: absolute;
      background: #7adff1;
      left: -2px;
    }
  }
}

.A_CollapseList {
  display: flex;
  gap: var(--space-2);
  padding-left: var(--space-4);
  align-items: center;
  width: 100%;
  height: 2rem;

  &:hover {
    background: rgba(212, 212, 212, 0.25);
    cursor: pointer;
  }
}

.A_ImageArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);

  figcaption {
    color: var(--gray-soft);
    text-align: center;
    line-height: 120%;
  }

  &.poster {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  img {
    border-radius: 2px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9 / 6;
  }
}
.A_LineNumbers {
  display: flex;
  flex-direction: column;
  text-align: right;
  user-select: none;
  font-family: 'Aeonik Mono';
  font-size: 1.125rem;
  line-height: 1.5rem;
  width: 23px;
  color: var(--gray-light);

  @media screen and (max-width: 768px) {
    font-size: clamp(1rem, 0.89rem + 0.49vw, 1.125rem);
  }
}
.A_CodeBlock {
  /* white-space: pre; */
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  code {
    line-height: 1.5rem;
  }
}
.A_Illustration {
  display: flex;
  height: fit-content;
  flex-direction: row;
  position: relative;
  width: fit-content;
  padding: clamp(1rem, -0.143rem + 2.381vw, 2rem);
  z-index: 2;

  .Q_HandleSquare {
    background-color: var(--white-500);
  }

  img {
    width: 100%;
    max-height: 200px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.A_ExtraCallout {
  position: relative;
  width: 100%;
  padding: var(--space-20);
  /* text-align: center; */

  @media screen and (max-width: 768px) {
    padding: var(--space-12);
  }
}
.A_KeyButton {
  color: var(--gray-medium);
  border: 1px solid var(--gray-medium);
  font-family: 'Aeonik Mono';
  font-size: 14px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 4px;
  min-width: 2rem;
}
