.C_PostersGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--grid-gap);
  min-height: 100vh;
}
.ะก_MetaDataPoster {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
/* Filters */
.C_Filters {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
/* Tabs */
.C_Tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--gray-lightest);
}

.C_Articles {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gap);
  row-gap: var(--space-40);

  .O_CardArticle {
    grid-column: span 4;

    /* @media screen and (max-width: 1024px) {
      grid-column: span 6;
    }
    @media screen and (max-width: 768px) {
      grid-column: span 12;
    } */
  }
}
.C_CollapsibleLists {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.C_AticleLinks {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 100%;
  padding-left: 1.8rem;

  a {
    width: fit-content;
    display: flex;
    align-items: center;
  }
}
