.C_PostersGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--grid-gap);
  min-height: 100vh;
}
.ะก_MetaDataPoster {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
/* Filters */
.C_Filters {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
/* Tabs */
.C_Tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--gray-lightest);
}

.C_Articles {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--grid-gap);
  row-gap: var(--space-40);
}
