.C_PostersGrid {
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: var(--grid-gap);
  min-height: 100vh;
  width: 100%;
}

.C_RelatedPostersTrack {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 220px;
  gap: var(--space-12);
  width: max-content;
}

.ะก_MetaDataPoster {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
/* Filters */
.C_Filters {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
/* Tabs */
.C_Tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--gray-lightest);
}

.C_Articles {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gap);
  row-gap: var(--space-24);

  &.handbook {
    container: articles / inline-size;
  }

  &.main {
    .O_CardArticle {
      grid-column: span 4;

      .M_AboutArticle {
        width: 90%;
      }
    }
  }

  @media screen and (max-width: 468px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container articles (width < 638px) and (width > 436px) {
  .O_CardArticle {
    grid-column: span 4;
  }
}

.C_CollapsibleLists {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.C_AticleLinks {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 100%;
  padding-left: 1.8rem;

  a {
    /* width: fit-content; */
    display: flex;
    align-items: center;
  }
}
.C_FilterModalContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: var(--space-20);
  margin: 1rem 0 0;
  padding: 0 clamp(1rem, 3vw, 4rem);
}
.C_Modules {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
  width: 100%;
}
.C_PostersRow {
  width: 100%;
  background: #fae;

  .W_RowPostersAnim {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);

    .Q_PosterImage {
      flex: 1;
      height: 420px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.ะก_MobileHeaderLinks {
  display: flex;
  flex-direction: column;
}
.C_Tags {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
}
.C_KeysButton {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 0.5rem;
  span {
    color: var(--gray-medium);
  }
}
