.C_PostersGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--grid-gap);
  min-height: 100vh;
}
.ะก_MetaDataPoster {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
/* Filters */
.C_Filters {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
