.L_PostersFilter {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  position: relative;
  margin-bottom: 10rem;
}
.L_ArticlesPreviewSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-48);
}
.L_Chapter {
  grid-column: 4/13;
  min-height: 150vh;
}
.L_Poster {
  margin-top: var(--header-offset);
}
