.L_PostersFilter {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  position: relative;
  margin-bottom: 10rem;
}
.L_ArticlesPreviewSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-48);
}
.L_Chapter {
  grid-column: span 9;
  min-width: 0;
  min-height: 150vh;

  &.navbar-margin {
    grid-column: span 6;
  }
}
.L_Poster {
  margin-top: var(--header-offset);
}
.L_ArticleBars {
  margin-top: var(--space-32);
}
