.M_Buttons {
  display: flex;
  gap: var(--space-12);
}

.M_ParagraphButton {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  align-items: center;
}

.M_BigTextAbout {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  align-items: end;
  gap: var(--grid-gap);
  border-bottom: 1px solid var(--gray-lightest);
  padding-bottom: var(--space-16);

  p {
    grid-column: 1/-1;
  }

  h2 {
    grid-column: 7/13;
  }
  h4 {
    grid-column: 1/-1;
    max-width: 880px;
  }
}
.M_HeadingPicture {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.M_HeadingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  grid-column: span 8;

  @media screen and (max-width: 1024px) {
    grid-column: span 6;
  }
  @media screen and (max-width: 780px) {
    grid-column: 1 / -1;
  }
}
.M_Markers {
  display: flex;
  flex-direction: row;
  gap: var(--space-12);
}
.M_SectionData {
  display: flex;
  gap: var(--space-8);
}

/* PosterPage */
.M_MetaDataRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap);
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  p {
    grid-column: span 1;
  }

  p:first-child {
    color: var(--gray-light);
  }
}

/* Inputs and buttons */
.M_CheckBoxLabel {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;

  .A_FilterLabel {
    color: var(--gray-base);
    font-size: 1rem;
  }
  &:hover {
    cursor: pointer;

    .A_FilterLabel {
      color: var(--gray-light);
      transition: all 0.3s ease;
    }
  }
}

.M_HeadAboutPage {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  align-items: end;

  h1 {
    grid-column: span 5;

    @media screen and (max-width: 768px) {
      grid-column: 1 / -1;
    }
  }
}

.M_ModuleDescription {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.M_FiltersTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 26px;

  .A_ResetFilters {
    border: none;
    background-color: transparent;
    height: 26px;
    font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: var(--gray-light);

    &:hover {
      cursor: pointer;
      color: var(--gray-base);
    }
  }
}

.M_EssentialLinks {
  display: flex;
  flex-direction: row;
  gap: var(--space-12);

  a {
    display: flex;
    align-items: center;
    gap: var(--space-4);

    &:hover {
      color: var(--gray-soft);
    }
  }
  span {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4px;
  }
}
.M_TitleBio {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.M_ArticleCardBio {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  height: 140px;

  p.caption-caps {
    color: var(--gray-light);
  }
}

.M_AboutArticle {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);

  p.body {
    color: var(--gray-medium);
  }

  @media screen and (max-width: 1024px) {
    p.body {
      font-size: 1rem;
    }
  }
}
.M_Columns {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  padding-bottom: var(--space-16);
  border-bottom: 1px solid var(--gray-lightest);

  p.body-other {
    margin-top: auto;
    width: 100%;
    color: var(--gray-soft);
    /* Number */
    &:nth-child(1) {
      grid-column: span 1;
    }
    &.number {
      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    /* Chapter */
    &:nth-child(2) {
      grid-column: span 5;
    }

    /* Material */
    &:nth-child(3) {
      grid-column: span 2;
    }
    /* Category */
    &:nth-child(4) {
      grid-column: span 1;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.M_Columns.modules {
  p.body-other {
    &:nth-child(1) {
      grid-column: span 5;

      @media screen and(max-width:800px) {
        display: block;
      }
    }

    &:nth-child(2) {
      grid-column: 8 / 10;
    }

    &:nth-child(3) {
      grid-column: span 2;
    }
  }

  @media screen and (max-width: 1024px) {
    p.body-other {
      &:nth-child(2),
      &:nth-child(3) {
        grid-column: span 1;
      }
    }
  }
}

.M_ListNavigation {
  display: flex;
  min-height: 32px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.M_Breadcrumbs {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 24px;
  color: var(--gray-soft);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  a {
    text-decoration: none;
    color: var(--gray-soft);

    &:hover {
      text-decoration: underline;
    }
  }
}

.M_TitleText {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.M_CodeTabs {
  display: flex;
  gap: var(--space-4);
}

.M_FilterModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-lightest);
  position: relative;
  padding: 0.5rem clamp(1rem, 3vw, 4rem);
  cursor: grab;
  touch-action: none;
  user-select: none;

  .drag-handle {
    position: absolute;
    border: none;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: #e0e0e0;
    border-radius: 2px;
  }
  .A_CloseButton {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 8px;
  }
}
.M_FilterModalFooter {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  padding: 1rem clamp(1rem, 3vw, 4rem);
  border-top: 1px solid var(--gray-lightest);

  .A_Button {
    flex: 1;
  }
}
.M_NoContent {
  display: flex;
  width: 300px;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: calc(40vh - 12rem);
  transform: translateX(-50%);

  h3,
  p {
    white-space: nowrap;
  }
}
.M_AboutArticle {
  h4 {
    font-size: 1.25rem;
  }

  @media screen and(max-width:1240px) {
    p.body {
      font-size: clamp(0.9375rem, 0.0486rem + 1.3889vw, 1.125rem);
    }
  }
}
.M_Marquee {
  width: 100%;
  /* height: 24vh; */
  overflow: hidden;
  position: relative;
}

.M_ParagraphArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.M_TelegramAction {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);

  h4 {
    width: 80%;
  }
}
.M_TwoLinks {
  width: 100%;
  flex-wrap: wrap;
  gap: var(--space-12);
  margin-bottom: var(--space-16);
}
.M_IconButtons {
  display: flex;
  flex-direction: row;
  gap: var(--space-12);
}
.M_SearchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  justify-content: space-between;
  padding-bottom: var(--space-12);
  border-bottom: 1px solid var(--gray-lightest);
  align-items: flex-end;

  .A_Button {
    width: 200px;
  }

  @media screen and (max-width: 768px) {
  }
}
.M_ChapterHeading {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.M_ChapterButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p.subtitle {
    color: var(--gray-medium);
  }

  &.right {
    align-items: flex-end;
  }
}
.M_RelatedPostersHead {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.M_ArrowControls {
  display: flex;
  gap: var(--space-4);

  @media screen and (max-width: 480px) {
    display: none;
  }
}
.M_TitleTextMedium {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.M_PreviewArea {
  width: 100%;
  min-height: 280px;
  position: relative;
  overflow: hidden;
  background: var(--white-500);
  border-radius: 4px;
  /* border: 1px solid var(--gray-lightest); */
}
