.M_Buttons {
  display: flex;
  gap: var(--space-12);
}

.M_ParagraphButton {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  align-items: center;
}

.M_BigTextAbout {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  align-items: end;
  gap: var(--grid-gap);

  p {
    grid-column: 1/3;
  }

  h2 {
    grid-column: 7/13;
  }
}
.M_HeadingPicture {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.M_HeadingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.M_Markers {
  display: flex;
  gap: var(--space-12);
}
.M_SectionData {
  display: flex;
  gap: var(--space-8);
}

/* PosterPage */
.M_MetaDataRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: var(--space-20);

  p {
    width: calc(53% - var(--grid-gap));
  }
}

/* Inputs and buttons */
.M_CheckBoxLabel {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;

  .A_FilterLabel {
    color: var(--gray-base);
  }
  &:hover {
    cursor: pointer;

    .A_FilterLabel {
      color: var(--gray-light);
      transition: all 0.3s ease;
    }
  }
}

.M_HeadAboutPage {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  align-items: end;

  h1 {
    grid-column: span 5;
  }

  .A_CaptionText {
    grid-column: 10/13;

    @media screen and (max-width: 1024px) {
      grid-column: 6/10;
      margin-top: auto;
    }
  }
}
.M_FiltersTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 26px;

  .A_ResetFilters {
    border: none;
    background-color: transparent;
    height: 26px;
    font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: var(--gray-light);

    &:hover {
      cursor: pointer;
      color: var(--gray-base);
    }
  }
}

.M_EssentialLinks {
  display: flex;
  flex-direction: row;
  gap: var(--space-20);

  a {
    display: flex;
    align-items: center;
    gap: var(--space-4);

    &:hover {
      color: var(--gray-soft);
    }
  }
}
.M_TitleBio {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.M_Columns {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  padding-bottom: var(--space-16);
  border-bottom: 1px solid var(--gray-lightest);

  p.body-other {
    margin-top: auto;
    color: var(--gray-soft);

    &:nth-child(1) {
      grid-column: span 1;
    }
    &:nth-child(2) {
      grid-column: span 5;
    }
    &:nth-child(3) {
      grid-column: span 2;
    }
    &:nth-child(4) {
      grid-column: span 1;
    }
  }
}
.M_ListNavigation {
  display: flex;
  min-height: 32px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;

  .A_CollapseList {
    display: flex;
    gap: var(--space-2);
    padding-left: var(--space-4);
    align-items: center;
    width: 100%;
    height: 2rem;

    &:hover {
      background: rgba(212, 212, 212, 0.25);
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.M_Breadcrumbs {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 24px;
  color: var(--gray-soft);

  a {
    text-decoration: none;
    color: var(--gray-soft);

    &:hover {
      text-decoration: underline;
    }
  }
}

.M_CodeTabs {
  display: flex;
  gap: var(--space-4);
}

.M_FilterModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-lightest);
  position: relative;
  padding: 0.5rem clamp(1rem, 3vw, 4rem);
  cursor: grab;
  touch-action: none;
  user-select: none;

  .drag-handle {
    position: absolute;
    border: none;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: #e0e0e0;
    border-radius: 2px;
  }
  .A_CloseButton {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 8px;
  }
}
.M_FilterModalFooter {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  padding: 1rem clamp(1rem, 3vw, 4rem);
  border-top: 1px solid var(--gray-lightest);

  .A_Button {
    flex: 1;
  }
}
.M_NoContent {
  display: flex;
  width: 300px;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: calc(40vh - 12rem);
  transform: translateX(-50%);

  h3,
  p {
    white-space: nowrap;
  }
}
.M_AboutArticle {
  h4 {
    font-size: 1.5rem;
  }
}
.M_Marquee {
  width: 100%;
  /* height: 24vh; */
  overflow: hidden;
  position: relative;
}

.M_ParagraphArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.M_TelegramAction {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);

  h4 {
    width: 80%;
  }
}
.M_TwoLinks {
  width: 100%;
  flex-wrap: wrap;
  gap: var(--space-12);
  margin-bottom: var(--space-16);
}
.M_IconButtons {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
}
.M_SearchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  justify-content: space-between;
  padding-bottom: var(--space-12);
  border-bottom: 1px solid var(--gray-lightest);
  align-items: flex-end;

  .A_Button {
    width: 200px;
  }
}
