.M_Buttons {
  display: flex;
  gap: var(--space-12);
}
.M_BigTextAbout {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: var(--space-20);
  padding: var(--space-32) var(--container-padding);

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;

    h2.right-container {
      max-width: 100%;
    }
  }
}
.M_HeadingPicture {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.M_TimeChapter {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.M_Markers {
  display: flex;
  gap: var(--space-12);
}
.M_SectionData {
  display: flex;
  gap: var(--space-8);
}
