.O_AboutCard {
  width: 100%;
  padding: 0 var(--space-16);
  border-left: 1.5px dashed var(--gray-lightest);
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
.O_AboutPartAction {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  grid-column: span 6;

  a.A_Button {
    width: 100%;
    max-width: 305px;
    justify-content: center;
  }

  .M_TimeChapter {
    p.A_IconText {
      margin-bottom: var(--space-12);
    }
  }
}
.O_AboutInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  grid-column: -5/-1;

  @media screen and (max-width: 1132px) {
    grid-column: -6/-1;
  }

  @media screen and (max-width: 1024px) {
    grid-column: span 5;
  }
}
/* PosterPage */
.O_PosterInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, -0.127rem + 3.39vw, 2rem);

  .A_Button {
    width: 100%;
  }
}
/* Filters */
.O_CategoryFilter {
  padding: 0.5rem 0rem;
  border-bottom: 1px dashed var(--Colors-neutral-gray-lighter, #b8b8b7);

  /* &:nth-child(2) {
    border-top: 1px dashed var(--Colors-neutral-gray-lighter, #b8b8b7);
  } */
}

.O_Chapter {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  border-bottom: 1px solid var(--gray-lightest);
  color: var(--gray-base);
  text-decoration: none;
  position: relative;
  /* number */
  p:first-child {
    grid-column: span 1;
    margin: auto 0;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    gap: var(--space-8);
    padding: var(--space-16) 0;
    height: fit-content;
    border-top: 1px solid var(--gray-lightest);
    margin-top: -1px;

    &:after {
      content: '';
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      right: 0;
      bottom: 1rem;
      background-image: url('../../images/icons/Q_ArrowForward-24.svg');
      background-position: center;
    }
  }
  /* Name */
  p:nth-child(2) {
    grid-column: span 5;
    margin: auto 0;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1/-1;
    }
  }
  /* Amount of articles */
  p:nth-child(3) {
    grid-column: span 2;
    margin: auto 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  /* Tags */
  .A_Tag {
    grid-column: span 3;
    margin: auto 0;
    @media screen and (max-width: 1024px) {
      grid-column: span 1;
    }

    @media screen and (max-width: 800px) {
      grid-column: span 2;
    }
  }
  /* Link */
  p:last-child {
    text-align: right;
    margin: auto 0;
    text-decoration: underline;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &:hover {
    p {
      color: var(--gray-soft);
      cursor: pointer;
    }
    span {
      color: var(--gray-soft);
      border: 1px solid var(--gray-soft);
    }
  }
}

/* .O_ModuleCard, */
.O_CardArticle {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  grid-column: span 4;

  &:hover {
    h4 {
      text-decoration: underline;
    }
  }
  /* responsives */

  @media screen and (max-width: 1024px) {
    grid-column: span 3;

    /* .M_ArticleCardBio {
      p.body {
        font-size: clamp(0.9375rem, 0.375rem + 1.1719vw, 1.125rem);
      }
    } */
  }
  @media screen and (max-width: 468px) {
    grid-column: 1/-1;
  }
}
/* List of cpaters */
.O_ChapterHead {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  padding-bottom: var(--space-24);
  border-bottom: 1px solid var(--gray-lightest);
  margin-bottom: var(--space-24);

  h4 {
    padding-right: var(--space-40);
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
  }
}

.O_ModulePageCover {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
}

.O_ModuleRow {
  text-decoration: none;
  padding-right: var(--space-8);
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-lightest);
  border-bottom: 1px solid var(--gray-lightest);

  &:hover {
    .M_ModuleDescription,
    .arrowIcon {
      opacity: 0.7;
    }
  }
}

.O_PartList {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.O_FilterSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  p.subtitle {
    font-size: 1.125rem;
  }

  .C_Filters {
    padding: 0;

    .M_CheckBoxLabel {
      height: 2.5rem;
      gap: var(--space-4);

      span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      input {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.O_FilterModal {
  width: 100%;
  min-height: 50vh;
  max-height: 80vh;
  background: var(--white-500);
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
}

.O_TitleSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 490px;

  .M_HeadingContainer {
    width: 100%;
    max-width: 620px;
    align-items: center;
    text-align: center;
  }
}

.O_Module {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  padding: var(--space-20) 0;
  border-bottom: 1px solid var(--gray-lightest);
  margin-top: -1px;
  text-decoration: none;
  position: relative;

  .M_TitleText {
    grid-column: span 5;
    width: 70%;
  }

  .A_Tag {
    grid-column: 8 / 10;
  }

  p.count {
    grid-column: -4 / -3;
  }

  p.pseudolink {
    grid-column: -1 / -3;
    text-align: right;
    text-decoration: underline;
  }

  @media screen and (max-width: 1024px) {
    .M_TitleText {
      grid-column: span 4;
      width: 80%;
    }

    .A_Tag,
    p.count {
      grid-column: span 1;
    }
  }

  @media screen and (max-width: 768px) {
    .A_Tag,
    p.pseudolink {
      display: none;
    }

    p.count {
      grid-column: 2 / 5;
      color: var(--gray-light);

      &::before {
        content: attr(data-language) ' · ';
        display: inline;
      }

      &::after {
        content: ' Решений';
        display: inline;
      }
    }

    &:first-child {
      border-top: 1px solid var(--gray-lightest);
    }

    &::after {
      content: '';
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      right: 0;
      bottom: 1rem;
      background: url('../../images/icons/Q_ArrowForward-24.svg') center
        no-repeat;
    }
  }

  @media screen and (max-width: 500px) {
    row-gap: var(--space-16);
    padding: var(--space-16) 0;
    .M_TitleText {
      width: 100%;
      grid-column: span 3s;
    }

    p.count {
      grid-column: 1/3;
    }
  }
}

.O_ModulesBlock {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.O_ModulesBlock {
  .M_HeadingContainer {
    width: 100%;
    max-width: 630px;
    gap: var(--space-24);
  }
}
.O_ModuleCard {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  /* background: #f3f3f1; */
  width: 100%;
  border-radius: 6px;
  gap: var(--space-12);
  /* padding: 1rem; */
  text-align: left;

  .Q_ModuleCardCover {
    width: 100%;
    aspect-ratio: 3 / 2;
    border-radius: 4px;
    background: linear-gradient(
      237deg,
      rgba(122, 223, 241, 0.5) 10.16%,
      #9eff70 31.92%,
      #9eff70 47.95%,
      rgba(122, 223, 241, 0.5) 92.68%
    );
  }
}

.O_CallOut {
  background: #f4f5f6;
  border-radius: 6px;
  padding: var(--space-20);
  border: 1px solid var(--gray-lightest);
  display: flex;
  flex-direction: row;
  gap: var(--space-20);
  align-items: flex-start;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}
.O_FooterInformation {
  grid-column: 7/ -1;
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}
.O_ArticleHead {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    grid-column: span 5;
  }
  @media screen and (max-width: 786px) {
    grid-column: 1/-1;
    gap: var(--space-24);
  }
}
.O_ArticleContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  position: sticky;
  top: 124px;
  align-self: flex-start;
  grid-column: span 2;
  order: 3;

  .C_AticleLinks {
    padding-left: 0;
  }
  @media screen and (max-width: 786px) {
    display: none;
  }

  &.article-anchors {
    @media screen and (max-width: 786px) {
      display: none;
    }
  }

  &.is-hidden {
    display: none;
  }
}
/* .W_ArticlePage.modules {
  .O_ArticleContent {
    order: 1;
  }
  .W_ArticleContentContainer {
    order: 2;
  }
} */

.O_CodeBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-12);
}
.O_CodeContent {
  display: flex;
  flex-direction: row;
  gap: var(--space-12);
  padding: 0 var(--space-12) var(--space-12) var(--space-12);
}
.O_BreadCrumbs {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--gray-lightest);
  margin-top: var(--header-offset);
  position: sticky;
  top: var(--header-offset);
  height: 32px;
  z-index: 10;
}
.O_PartCover {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-500);
  background: radial-gradient(
    400.62% 147.98% at 0% 100%,
    #fe96e4 0%,
    #fe3904 32.01%,
    #fe3904 65.23%,
    #fe96e4 100%
  );
  margin-top: 2rem;
  border-radius: 6px;

  .M_HeadingContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  p,
  h2 {
    color: var(--white-500);
    text-align: center;
  }

  @media screen and (max-width: 1280px) {
    margin-bottom: 2rem;
    margin-top: 0;
    border-radius: 0;
  }
}

.O_DividerBanner {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    82deg,
    #fe3904 8.11%,
    #fe3904 41.58%,
    #fe96e4 88.91%,
    rgba(254, 150, 228, 0.5) 100%
  );

  img.polygon {
    position: absolute;
    top: -50vw;
    left: 34vw;
  }
}
.O_ChapterButtonArrow {
  text-decoration: none;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: var(--space-16);

  &:hover {
    b {
      text-decoration: underline;
    }
    opacity: 0.8;
  }

  &.right {
    b {
      text-align: right;
    }
  }
  .A_IconButton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f1;
    border-radius: 50%;
    background-image: url('../../images/icons/Q_ArrowGray-24.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.right {
      transform: rotate(180deg);
    }
  }

  &.right {
    margin-left: auto;
  }
}
.O_RelatedPosters {
  display: flex;
  flex-direction: column;
  margin-top: clamp(4rem, 2rem + 6.667vw, 10rem);
  gap: var(--space-20);
  position: relative;
}
.O_ModuleHeadText {
  grid-column: 4 / 9;
  align-items: self-start;
  display: flex;
  flex-direction: column;
  gap: var(--space-32);

  .A_IconText {
    margin-left: -4px;
    p {
      color: var(--gray-soft);
    }
    svg {
      fill: var(--gray-soft);
    }
  }
  @media screen and (max-width: 1024px) {
    grid-column: 1/6;
  }
}
