.O_HeaderItems {
  width: 100%;
  max-width: var(--width-container);
  margin: 0 auto;
  flex-direction: row;
  background: var(--white-body);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.O_AboutCard {
  width: 100%;
  padding: 0 var(--space-16);
  border-left: 1.5px dashed var(--gray-darksoft);
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
.O_AboutPartAction {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  max-width: 630px;

  a.A_Button {
    width: 100%;
    max-width: 305px;
    justify-content: center;
  }

  .M_TimeChapter {
    p.A_IconText {
      margin-bottom: var(--space-12);
    }
  }
}
.O_AboutInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
/* PosterPage */
.O_PosterInfo {
  width: 100%;
  max-width: 413px;
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  grid-column: 9/13;

  @media screen and (max-width: 1024px) {
    grid-column: 6/10;
  }
  @media screen and (max-width: 768px) {
    grid-column: 1/-1;
  }
}
/* Filters */
.O_CategoryFilter {
  padding: 0.5rem 0rem;
  border-bottom: 1px dashed var(--Colors-neutral-gray-lighter, #b8b8b7);

  /* &:nth-child(2) {
    border-top: 1px dashed var(--Colors-neutral-gray-lighter, #b8b8b7);
  } */
}
