.O_HeaderItems {
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  background: var(--white-body);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.O_AboutCard {
  width: 100%;
  padding: 0 var(--space-16);
  border-left: 1.5px dashed var(--gray-lightest);
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
.O_AboutPartAction {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  grid-column: span 5;

  a.A_Button {
    width: 100%;
    max-width: 305px;
    justify-content: center;
  }

  .M_TimeChapter {
    p.A_IconText {
      margin-bottom: var(--space-12);
    }
  }
}
.O_AboutInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
  grid-column: 9/13;
}
/* PosterPage */
.O_PosterInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  grid-column: 7/11;

  @media screen and (max-width: 1240px) {
    grid-column: 7/12;
  }
  @media screen and (max-width: 1024px) {
    grid-column: 5/10;
  }
  @media screen and (max-width: 768px) {
    grid-column: -1 / 1;
  }

  .A_Button {
    width: 100%;
  }
}
/* Filters */
.O_CategoryFilter {
  padding: 0.5rem 0rem;
  border-bottom: 1px dashed var(--Colors-neutral-gray-lighter, #b8b8b7);

  /* &:nth-child(2) {
    border-top: 1px dashed var(--Colors-neutral-gray-lighter, #b8b8b7);
  } */
}

.O_Chapter {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  height: 4rem;
  border-bottom: 1px solid var(--gray-lightest);
  color: var(--gray-base);
  text-decoration: none;

  p:first-child {
    grid-column: span 1;
    margin: auto 0;
  }
  p:nth-child(2) {
    grid-column: span 5;
    margin: auto 0;
  }
  p:nth-child(3) {
    grid-column: span 2;
    margin: auto 0;
  }

  .A_Tag {
    grid-column: span 3;
    margin: auto 0;
  }
  p:last-child {
    text-align: right;
    margin: auto 0;
    text-decoration: underline;
  }

  &:hover {
    p {
      color: var(--gray-soft);
      cursor: pointer;
    }
    span {
      color: var(--gray-soft);
      border: 1px solid var(--gray-soft);
    }
  }
}
.O_ModuleCard,
.O_CardArticle {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  .M_ArticleCardBio {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    height: 140px;

    p.caption-caps {
      color: var(--gray-light);
    }

    .M_AboutArticle {
      display: flex;
      flex-direction: column;
      gap: var(--space-6);

      p.body {
        color: var(--gray-medium);
      }
    }
  }

  &:hover {
    h4 {
      text-decoration: underline;
    }
  }
}

.O_ChapterHead {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  padding-bottom: var(--space-24);
  border-bottom: 1px solid var(--gray-lightest);
  margin-bottom: var(--space-40);

  h4 {
    padding-right: var(--space-40);
  }
}
.O_PartList {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

/* .O_FilterModal__footer .btn-reset,
.O_FilterModal__footer .btn-apply {
  flex: 1;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
} */

.O_FilterSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  p.subtitle {
    font-size: 1.125rem;
  }

  .C_Filters {
    padding: 0;

    .M_CheckBoxLabel {
      height: 2.5rem;
      gap: var(--space-4);

      span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      input {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.O_FilterModal {
  width: 100%;
  min-height: 50vh;
  max-height: 80vh;
  background: var(--white-500);
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
}

.O_TitleSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 490px;

  .M_HeadingContainer {
    width: 100%;
    max-width: 620px;
    align-items: center;
    text-align: center;
  }
}
.O_ModulesBlock {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.O_ModulesBlock {
  .M_HeadingContainer {
    width: 100%;
    max-width: 630px;
    gap: var(--space-24);
  }
}
.O_ModuleCard {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  /* background: #f3f3f1; */
  width: 100%;
  border-radius: 6px;
  gap: var(--space-12);
  /* padding: 1rem; */
  text-align: left;

  .Q_ModuleCardCover {
    width: 100%;
    aspect-ratio: 3 / 2;
    border-radius: 4px;
    background: linear-gradient(
      237deg,
      rgba(122, 223, 241, 0.5) 10.16%,
      #9eff70 31.92%,
      #9eff70 47.95%,
      rgba(122, 223, 241, 0.5) 92.68%
    );
  }
}

.O_CallOut {
  background: #f3f3f1;
  border-radius: 6px;
  padding: var(--space-20);
  border: 1px solid var(--gray-lightest);
  display: flex;
  flex-direction: row;
  gap: var(--space-20);
  align-items: flex-start;
}
.O_FooterInformation {
  grid-column: 7/ -1;
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}
.O_ArticleHead {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.O_ArticleContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  position: sticky;
  top: 80px;
  align-self: flex-start;
  grid-column: span 2;
  order: 3;

  .C_AticleLinks {
    padding-left: 0;
    gap: 0;
  }
}
.O_CodeBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-12);
}
.O_CodeContent {
  display: flex;
  flex-direction: row;
  gap: var(--space-12);
  padding: 0 var(--space-12) var(--space-12) var(--space-12);
}
