header.O_Header {
  width: 100%;
  position: relative;
  background: var(--white-body);
  display: flex;
  color: var(--gray-darksoft);
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-lightest);
  padding: var(--space-12) var(--container-padding);
  position: fixed;
  top: 0;
  height: 4rem;
  align-items: center;
}
