.Q_HandleSquare {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--gray-base);

  &.lt {
    top: 0px;
    left: 0px;
  }
  &.rt {
    top: 0px;
    right: 0px;
  }
  &.rb {
    bottom: 0px;
    right: 0px;
  }
  &.lb {
    bottom: 0px;
    left: 0px;
  }
}

.Q_HandleLine {
  width: 1px;
  height: 24px;
  background-color: var(--gray-lightest);
  position: absolute;

  &.lt {
    top: 0;
    left: 0;
  }
  &.rt {
    top: 0;
    right: 0;
  }
}
.Q_SmallPatternImage {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  max-height: 4rem;
  aspect-ratio: 1/1;
  background-color: rgb(171, 212, 249);
  border-radius: 6px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.Q_Circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--gray-base);
  display: flex;
  align-items: center;
  justify-content: center;

  p.subtitle {
    font-size: 1rem;
  }
}

.Q_ModulesIllustration {
  grid-column: span 1;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  /* margin-left: auto; */
  border-radius: 6px;
  background: linear-gradient(
    237deg,
    rgba(122, 223, 241, 0.5) 10.16%,
    #9eff70 31.92%,
    #9eff70 47.95%,
    rgba(122, 223, 241, 0.5) 92.68%
  );

  @media screen and (max-width: 500px) {
    grid-column: 1/-1;
    max-width: none;
    max-height: none;
    height: 12rem;

    img {
      width: 8rem;
    }
  }
}

.Q_PageCover {
  width: 100%;
  /* height: 410px; */
  aspect-ratio: 12 / 4;
  border-radius: 6px;
  height: 520px;
  object-fit: cover;
}
.Q_ArticleImage {
  width: 100%;
  aspect-ratio: 5/3;
  background: white;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
}
.Q_FilterModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: flex-end;
}
input[type='checkbox'] {
  background-color: red;
}
.Q_ArticleHeroImage {
  grid-column: span 5;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px) {
    grid-column: span 4;
  }
  @media screen and (max-width: 786px) {
    grid-column: 1/-1;
  }
}
.Q_ModulesCover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
