.Q_HandleSquare {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--gray-base);

  &.lt {
    top: -3px;
    left: -3px;
  }
  &.rt {
    top: -3px;
    right: -3px;
  }
  &.rb {
    bottom: -3px;
    right: -3px;
  }
  &.lb {
    bottom: -3px;
    left: -3px;
  }
}
.Q_SmallPatternImage {
  height: 4rem;
  width: 4rem;
  background-color: rgb(171, 212, 249);
  border-radius: 0.5rem;
}
