.S_HomeScreen {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
  }

  .W_HeadingContainer {
    position: absolute;
    top: 1rem;
  }
}

.S_ArticlesPreviewSection {
  width: 100%;
  padding: var(--space-48) var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: var(--space-56);
}

.S_Footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header.S_Header {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--gray-darksoft);
  border-bottom: 1px solid var(--gray-lightest);
  background-color: var(--white-500);
  position: fixed;
  top: 0;
  height: 4rem;
  z-index: 100;
}

/* Poster Page */
.S_PosterInfo {
  width: 100%;
  /* max-width: var(--width-container); */
  margin: var(--space-24) auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  /* background-color: red; */
}
.S_Filters {
  grid-column: 1/4;
}

.S_SectionAbout {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  width: 100%;

  a.A_Button {
    grid-column: span 3;
    width: 100%;
  }
}

/* Handbook */
.S_HandbookFirstScreen {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  padding: var(--space-40) 0;
  /* background: navajowhite; */

  .W_SectionAboutInfo {
    .M_HeadingContainer {
      grid-column: span 7;
    }
    .A_CaptionText {
      grid-column: 9/13;
      margin-top: auto;
    }
  }
}
.S_LeftNavBar {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  width: 100%;
  grid-column: span 3;
  position: sticky;
  top: 100px;
  align-self: start;
  /* height: calc(100vh - 10rem); */
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background-color: red;
  }
}

.S_FiltersRow {
  display: none;

  @media screen and (max-width: 1024px) {
    & {
      display: flex;
      grid-column: 1 / -1;
      gap: var(--space-6);
      overflow-x: scroll;

      margin-left: calc(-1 * var(--container-padding, 1rem));
      margin-right: calc(-1 * var(--container-padding, 1rem));

      padding-left: var(--container-padding, 1rem);
      padding-right: var(--container-padding, 1rem);

      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    &::-webkit-scrollbar {
      background: transparent;
    }
  }
}
.S_ManyPosters {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
  height: 100vh;
}
