.S_HomeScreen {
  width: 100%;
  margin-top: 4rem;
  /* height: 100vh; */
  /* max-height: 800px; */
  /* background: violet; */
  display: flex;
  justify-content: center;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
  }

  .W_HeadingContainer {
    position: absolute;
    top: 1rem;
  }
}

.S_ArticlesPreviewSection {
  width: 100%;
  padding: var(--space-48) var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: var(--space-56);
}

.S_Footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Poster Page */
.S_PosterInfo {
  width: 100%;
  /* max-width: var(--width-container); */
  margin: 0 auto;
  margin-top: 3rem;
  padding-top: var(--space-32);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  /* background-color: red; */
}
.S_Filters {
  grid-column: 1/4;
}
