.S_HomeScreen {
  width: 100%;
  margin-top: 4rem;
  /* height: 100vh; */
  /* max-height: 800px; */
  /* background: violet; */
  display: flex;
  justify-content: center;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
  }

  .W_HeadingContainer {
    position: absolute;
    top: 1rem;
  }
}

.S_ArticlesPreviewSection {
  width: 100%;
  padding: var(--space-48) var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: var(--space-56);
}

.S_Footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
