.W_HeaderTopNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.W_HeaderAllContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}

.W_HeaderLinks {
  display: flex;
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);
  flex-direction: row;
  width: fit-content;
  /* background: red; */
  gap: var(--space-32);
  grid-column: 4 / span 11;

  a {
    color: var(--gray-650);
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    font-size: 1.125rem;

    &:hover {
      color: var(--gray-medium);
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.W_HeadingContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  color: var(--gray-soft);
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 846px;
  height: fit-content;
  padding: var(--space-16) var(--space-24);
}
.W_AboutCards {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  justify-content: space-between;
  width: 100%;
  gap: var(--grid-gap);

  .O_AboutCard:first-child {
    grid-column: span 4;
  }
  .O_AboutCard:nth-child(2) {
    grid-column: 7/10;
  }
  .O_AboutCard:nth-child(3) {
    grid-column: 10/13;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;

    .O_AboutCard {
      max-width: 100%;
    }

    .W_TwoCards {
      flex-direction: column;
      min-width: 100%;
    }
  }
}
.W_SectionAboutInfo {
  grid-column: -1 / 1;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);

  .M_HeadingContainer {
    grid-column: span 8;
    /* background-color: red; */
  }
  .A_CaptionText {
    grid-column: span 3;
    margin-top: auto;
  }

  .O_AboutPartAction {
    margin-top: 3rem;
  }

  @media screen and (max-width: 1024px) {
    .O_AboutPartAction,
    .O_AboutInfo {
      grid-column: 1/-1;
    }
  }
}

.W_PostersWrap {
  grid-column: 4 / 13;
  position: relative;
}

.W_PostersPage {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  width: 100%;
  margin: calc(var(--header-offset) + var(--space-64)) auto;
}

/* PagesWrapper */
.W_HandbookPageWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-64);
  margin-top: var(--header-offset);
}
.W_ChapterPageWrapper {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  padding-top: var(--space-40);

  @media screen and (max-width: 1024px) {
    .L_Chapter {
      grid-column: 1/-1;
    }
  }
}
.W_ArticlePage {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
  width: 100%;

  @media screen and (max-width: 1024px) {
    .S_LeftNavBar {
      display: none;
    }
    .O_ArticleContent {
      order: 1;
    }
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.W_ArticleContentContainer {
  grid-column: span 7;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1rem + 2.222vw, 3rem);

  @media screen and (max-width: 1024px) {
    grid-column: 4/10;
    order: 2;
  }
  @media screen and (max-width: 786px) {
    grid-column: 1/-1;
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* NavigationMenu */
.W_CollapsingLists {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.W_BreadCrumbsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
}
.W_PostersWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-24);
}

.W_HomePageWrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.W_MarqueeContent {
  height: 100%;
  width: 100%;
  display: flex;
  gap: var(--space-8);
}

.W_CalloutTextExpand {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.W_Footer {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
}
.W_FooterDescription {
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap);
  font-weight: 500;
  line-height: 20px;

  .M_FooterInfo,
  .W_FooterDisclaimer {
    width: calc(50% - var(--grid-gap));
  }
}
.W_FooterDisclaimer,
.W_FooterHse {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
.W_ArticleHead {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gap);
}
.W_NavCrumbs {
  display: flex;
  flex-direction: row;
  gap: var(--space-8);
  align-items: center;

  &::-webkit-scrollbar {
    background: transparent;
  }
}
.W_SearchResults {
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
