.carousel-wrapper {
  width: 100%;
  height: 320px;
  position: relative;
  /* background: #ccc; */
  overflow: hidden;
  margin-top: auto;
}

/* .wrapper::after {
  background:#000;
  width: 448px;
  height: 48px;
  content: "";
  position: absolute;
  border: solid 1px white;
} */

.carousel-item {
  width: 224px;
  background: rgb(255, 208, 208);
  height: 320px;
  position: absolute; /* Обязательно! */
  transform-origin: center center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-track {
  position: relative;
  /* left indendt in container */
  /* left: -208px; */
}
.fade-container {
  background: #f8f8f7;
  pointer-events: none;
  width: 100%;
  height: 320px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 247, 1) 0%,
    rgba(248, 248, 247, 0) 10%,
    rgba(248, 248, 247, 0) 50%,
    rgba(248, 248, 247, 0) 93%,
    rgba(248, 248, 247, 1) 100%,
    rgba(248, 248, 247, 1) 100%
  );
}
/* .nav {
  position: relative;
  text-align: center;

  color: white;
  font-size: 20px;
  margin: 20px 0;
} */
