.carousel-wrapper {
  width: 100%;
  height: 320px;
  position: relative;
  /* background: #ccc; */
  overflow: hidden;
  margin-top: auto;
}

/* .wrapper::after {
  background:#000;
  width: 448px;
  height: 48px;
  content: "";
  position: absolute;
  border: solid 1px white;
} */

.carousel-item {
  width: 224px;
  background: rgb(255, 208, 208);
  height: 320px;
  position: absolute; /* Обязательно! */
  transform-origin: center center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-track {
  position: relative;
  /* left indendt in container */
  /* left: -208px; */
}
.fade-container {
  background: #f8f8f7;
  pointer-events: none;
  width: 100%;
  height: 320px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 247, 1) 0%,
    rgba(248, 248, 247, 0) 10%,
    rgba(248, 248, 247, 0) 50%,
    rgba(248, 248, 247, 0) 93%,
    rgba(248, 248, 247, 1) 100%,
    rgba(248, 248, 247, 1) 100%
  );
}
/* .nav {
  position: relative;
  text-align: center;

  color: white;
  font-size: 20px;
  margin: 20px 0;
} */

.marquee {
  width: 100%;
  /* height: 24vh; */
  overflow: hidden;
  position: relative;

  li {
    background: red;
  }
}

/* .marquee::before,
.marquee::after {
  position: absolute;
  border-right: 4px solid black;
  top: 0;
  width: 8rem;
  height: 100%;
  content: '';
  z-index: 2;
} */

.marquee::before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee::after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
  height: 100%;
  display: flex;
  gap: var(--space-8);
}

.marquee-content li {
  width: 100px;
  background: #fae;
  border-radius: 50%;
  min-width: 220px;
  height: 100%;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  text-align: left;
}

.marquee-content i {
  font-size: 4rem;
}

.marquee-content span {
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* @media (max-width: 600px) {
  .marquee {
    height: 20vh;
  }

  .marquee-content li {
    width: 40vw;
  }

  .marquee-content i {
    font-size: 2.2rem;
  }
} */
