.carousel-wrapper {
  width: 100%;
  height: 320px;
  position: relative;
  /* background: #ccc; */
  overflow: hidden;
  margin-top: auto;
}

/* .wrapper::after {
  background:#000;
  width: 448px;
  height: 48px;
  content: "";
  position: absolute;
  border: solid 1px white;
} */

.carousel-item {
  width: 224px;
  background: rgb(255, 208, 208);
  height: 320px;
  position: absolute; /* Обязательно! */
  transform-origin: center center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-track {
  position: relative;
  /* left indendt in container */
  /* left: -208px; */
}
.fade-container {
  background: #f8f8f7;
  pointer-events: none;
  width: 100%;
  height: 320px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 247, 1) 0%,
    rgba(248, 248, 247, 0) 10%,
    rgba(248, 248, 247, 0) 50%,
    rgba(248, 248, 247, 0) 93%,
    rgba(248, 248, 247, 1) 100%,
    rgba(248, 248, 247, 1) 100%
  );
}
/* .nav {
  position: relative;
  text-align: center;

  color: white;
  font-size: 20px;
  margin: 20px 0;
} */
/* HTML: <div class="loader"></div> */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 50vh;
  left: 50vw;
  background: #1d1d1d;
  box-sizing: border-box;
  animation: flipX 1s linear infinite;
}

@keyframes flipX {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

/* bullshit */
.slider {
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 60%;
  position: absolute;
}
@keyframes slide1 {
  0% {
    top: 3vw;
  }
  50% {
    top: 6.6vw;
  }
  100% {
    top: 3vw;
  }
}
@keyframes slide2 {
  0% {
    top: 6.6vw;
  }
  50% {
    top: 3.5vw;
  }
  100% {
    top: 6.6vw;
  }
}
@keyframes slide3 {
  0% {
    top: 7.2vw;
  }
  50% {
    top: 5.5vw;
  }
  100% {
    top: 7.2vw;
  }
}
@keyframes slide4 {
  0% {
    top: 5vw;
  }
  50% {
    top: 7vw;
  }
  100% {
    top: 5vw;
  }
}
@keyframes slide5 {
  0% {
    top: 5vw;
  }
  50% {
    top: 3vw;
  }
  100% {
    top: 5vw;
  }
}
#slider1 {
  left: 2.45vw;
  animation: slide1 3s cubic-bezier(0.8, 0, 0.21, 0.99) infinite;
}
#slider2 {
  left: 3.69vw;
  animation: slide2 3s cubic-bezier(0.8, 0, 0.21, 0.99) infinite;
}
#slider3 {
  left: 4.9vw;
  animation: slide3 3s cubic-bezier(0.8, 0, 0.21, 0.99) infinite;
}
#slider4 {
  left: 6.18vw;
  animation: slide4 3s cubic-bezier(0.8, 0, 0.21, 0.99) infinite;
}
#slider5 {
  left: 7.43vw;
  animation: slide5 3s cubic-bezier(0.8, 0, 0.21, 0.99) infinite;
}
