* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: var(--bg-grey);
  font-weight: 400;
}

.demo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 60px auto;
}
h1 {
  font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 500;
}
