* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  background-size: 58px 58px;
  background-color: var(--bg-grey);
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
a,
p {
  color: var(--gray-base);
}

h1 {
  font-size: clamp(2rem, 1.5385rem + 2.0513vw, 3.5rem);
  font-weight: 500;
}
.body {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;

  &.bold {
    font-weight: 500;
  }
}

h2 {
  font-size: clamp(2rem, 1.429rem + 1.19vw, 2.5rem);
  line-height: 115%;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 125%;

  @media screen and (max-width: 1024px) {
    font-size: clamp(1.125rem, 0.729rem + 1.205vw, 1.5rem);
  }
}
.subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}
p.body-other {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 21px;
}
.caption-bold {
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--gray-base);
}
.caption-caps {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 18px;
}
b {
  font-weight: 500;
  font-size: 1.125rem;
}
/* Grid */
.all-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(9, 1fr);
    column-gap: 12px;
    background: red;
  }
}

/* Color hierarchy */
.light {
  color: var(--gray-light);
}
/* Right grid container */
.right-container {
  display: flex;
  max-width: 738px;
}

.margin-container {
  width: 100%;
  max-width: var(--width-container);
  margin: 0 auto;
  /* background: yellow; */
}

/* Article Typography */
p.article {
  font-size: 1.125rem;
  line-height: 135%;

  code {
    display: inline-block;
    height: 24px;
    background: #e7e7e4;
    border-radius: 4px;
    font-family: 'Aeonik Mono';
    padding: 0 4px;
  }
  a {
    text-decoration: underline;

    &:hover {
      color: var(--gray-soft);
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: clamp(1rem, 0.89rem + 0.49vw, 1.125rem);
  }
}

code {
  font-family: 'Aeonik Mono';
  font-size: 1.125rem;
  line-height: 1.25rem;
}
