* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Aeonik Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  background-size: 58px 58px;
  background-color: var(--bg-grey);
  font-weight: 400;
}

.demo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  padding: var(--space-32) var(--container-padding);
}
h1,
h2,
h3,
h4,
a,
p {
  color: var(--gray-base);
}

h1 {
  font-size: clamp(2rem, 1.5385rem + 2.0513vw, 3.5rem);
  font-weight: 500;
}
.body {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;

  &.bold {
    font-weight: 500;
  }
}
h2 {
  font-size: 2.5rem;
  line-height: 2.7rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28px;
}
.subtitle {
  font-size: 1.25rem;
  font-weight: 500;
}
p.body-other {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 21px;
}
.caption-caps {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 18px;
}

/* Grid */
.all-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 0px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(9, 1fr);
    column-gap: 12px;
    background: red;
  }
}

/* Color hierarchy */
.light {
  color: var(--gray-light);
}
/* Right grid container */
.right-container {
  display: flex;
  max-width: 738px;
}

.margin-container {
  width: 100%;
  max-width: var(--width-container);
  margin: 0 auto;
  /* background: yellow; */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: 50vh;
  left: 50vw;
  background: #1d1d1d;
  box-sizing: border-box;
  animation: flipX 1s linear infinite;
}

@keyframes flipX {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}
