@media (max-width: 1600px) {
  :root {
    --width-container: 1240px;
    --grid-margin: 240px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --width-container: 1080px;
  }

  /* .margin-container {
    max-width: 100%;
    padding: 0 80px;
  } */

  .margin-container {
    max-width: none;
    width: 100%;
    padding: 0 clamp(0.75rem, 3vw, 4rem);
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width-container: 896px;
    --grid-columns: 9;
    --grid-gap: 12px;
  }

  .W_Footer {
    gap: var(--space-48);

    .A_DVDLogo,
    .O_FooterInformation {
      grid-column: 1 / -1;
    }

    .A_DVDLogo {
      order: 2;
    }
  }

  /* Layouts */
  .L_PostersFilter {
    .W_PostersWrap {
      grid-column: -1 / 1;
    }
  }
  .S_Filters {
    display: none;
  }

  .W_PostersPage {
    margin: 6rem auto;
  }

  /* .A_Poster {
    width: calc(33.78% - var(--grid-gap));
  } */
}
@media screen and (max-width: 768px) {
  :root {
    --grid-columns: 6;
    --grid-gap: 8px;
  }

  .W_Footer {
    h4 {
      font-size: 1.5rem;
      width: 100%;
    }

    .A_TelegramButton {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  .W_FooterDescription {
    flex-direction: column;
    gap: var(--space-24);

    .M_FooterInfo,
    .W_FooterDisclaimer {
      width: 100%;
    }

    .M_FooterInfo {
      .W_FooterHse {
        flex-direction: row;
        gap: var(--grid-gap);
        flex-wrap: wrap;
      }
    }
  }

  .M_HeadAboutPage {
    .A_CaptionText {
      grid-column: -1 / 1;
      border-left: none;
      padding: 0;

      p {
        font-size: 20px;
        line-height: 1.6rem;
      }

      .Q_HandleSquare {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  :root {
    --grid-columns: 3;
    --container-padding: var(--space-8);
  }
  .C_PostersGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and(max-width: 1024px) {
  .A_CaptionText {
    background: red;
  }
}
