@media (min-width: 1600px) {
  :root {
    --grid-margin: 240px;
  }
}

@media screen and (max-width: 1240px) {
  :root {
    --container-padding: 240px;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --container-padding: 48px;
  }
}
