@media (max-width: 1600px) {
  :root {
    --width-container: 1240px;
    --grid-margin: 240px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --width-container: 896px;
    --grid-columns: 9;
    --grid-gap: 12px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --grid-columns: 6;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --grid-columns: 3;
    --container-padding: var(--space-8);
  }
}
