<div class="S_LeftNavBar">
  <div class="W_CollapsingLists">
    <!-- ======================== -->
    <!-- PART 1                   -->
    <!-- ======================== -->
    <div class="O_PartList">
      <p class="body bold">Знакомство с веб-плакатом</p>
      <div class="C_CollapsibleLists">
        <!-- chapter-1-1 -->
        <div class="M_ListNavigation" data-chapter-id="chapter-1-1">
          <div
            class="A_CollapseList"
            role="button"
            tabindex="0"
            aria-expanded="false"
          >
            <img class="Q_Chevron" src="" alt="" aria-hidden="true" />
            <a
              class="A_CollapseName"
              href="/handbook/part_1/chapter_1/chapter_1.html"
            >
              Что такое веб-плакат
            </a>
          </div>
          <div class="C_AticleLinks">
            <a
              class="A_ListItem"
              data-article-id="article-1-1-1"
              href="/handbook/part_1/chapter_1/about_webposter.html"
              >Особенности формата</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-1-1-2"
              href="/handbook/part_1/chapter_1/print-vs-web.html"
              >Отличие от классического плаката</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-1-1-3"
              href="/handbook/part_1/chapter_1/poster-vs-website.html"
              >Отличия от лендинга и сайта</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-1-1-4"
              href="/handbook/part_1/chapter_1/static-dynamic.html"
              >Статика и динамика</a
            >
          </div>
        </div>

        <!-- chapter-1-2 -->
        <div class="M_ListNavigation" data-chapter-id="chapter-1-2">
          <div
            class="A_CollapseList"
            role="button"
            tabindex="0"
            aria-expanded="false"
          >
            <img class="Q_Chevron" src="" alt="" aria-hidden="true" />
            <a
              class="A_CollapseName"
              href="/handbook/part_1/chapter_2/chapter_2.html"
            >
              Зачем создавать веб-плакат
            </a>
          </div>
          <div class="C_AticleLinks">
            <a
              class="A_ListItem"
              data-article-id="article-1-2-1"
              href="/handbook/part_1/chapter_2/why-create.html"
              >Зачем создавать</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-1-2-2"
              href="/handbook/part_1/chapter_2/further-development.html"
              >Дальнейшее развитие</a
            >
          </div>
        </div>

        <!-- chapter-1-3 -->
        <div class="M_ListNavigation" data-chapter-id="chapter-1-3">
          <div
            class="A_CollapseList"
            role="button"
            tabindex="0"
            aria-expanded="false"
          >
            <img class="Q_Chevron" src="" alt="" aria-hidden="true" />
            <a
              class="A_CollapseName"
              href="/handbook/part_1/chapter_3/chapter_3.html"
            >
              Примеры и насмотренность
            </a>
          </div>
          <div class="C_AticleLinks">
            <a
              class="A_ListItem"
              data-article-id="article-1-3-1"
              href="/handbook/part_1/chapter_3/selected-works.html"
              >Избранные веб-плакаты 2019-2025</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-1-3-2"
              href="/handbook/part_1/chapter_3/catalog-guide.html"
              >Как пользоваться каталогом</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- ======================== -->
    <!-- PART 2                   -->
    <!-- ======================== -->
    <div class="O_PartList">
      <p class="body bold">Создание веб-плаката</p>
      <div class="C_CollapsibleLists">
        <!-- chapter-2-1 -->
        <div class="M_ListNavigation" data-chapter-id="chapter-2-1">
          <div
            class="A_CollapseList"
            role="button"
            tabindex="0"
            aria-expanded="false"
          >
            <img class="Q_Chevron" src="" alt="" aria-hidden="true" />
            <a
              class="A_CollapseName"
              href="/handbook/part_2/chapter_1/chapter_2_1.html"
            >
              Идея и концепция
            </a>
          </div>
          <div class="C_AticleLinks">
            <a
              class="A_ListItem"
              data-article-id="article-2-1-1"
              href="/handbook/part_2/chapter_1/finding-idea.html"
              >Как придумать тему</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-1-2"
              href="/handbook/part_2/chapter_1/defining-style.html"
              >Определение стиля</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-1-3"
              href="/handbook/part_2/chapter_1/modules-overview.html"
              >Обзор модулей</a
            >
          </div>
        </div>

        <!-- chapter-2-2 -->
        <div class="M_ListNavigation" data-chapter-id="chapter-2-2">
          <div
            class="A_CollapseList"
            role="button"
            tabindex="0"
            aria-expanded="false"
          >
            <img class="Q_Chevron" src="" alt="" aria-hidden="true" />
            <a
              class="A_CollapseName"
              href="/handbook/part_2/chapter_2/chapter_2_2.html"
            >
              Дизайн веб-плаката
            </a>
          </div>
          <div class="C_AticleLinks">
            <a
              class="A_ListItem"
              data-article-id="article-2-2-1"
              href="/handbook/part_2/chapter_2/grid-composition.html"
              >Сетка и композиция</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-2-2"
              href="/handbook/part_2/chapter_2/refining-layout.html"
              >Доработка макета</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-2-3"
              href="/handbook/part_2/chapter_2/adaptive-responsive.html"
              >Адаптивный дизайн</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-2-4"
              href="/handbook/part_2/chapter_2/creating-breakpoints.html"
              >Разработка адаптивов</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-2-5"
              href="/handbook/part_2/chapter_2/preparing-assets.html"
              >Подготовка графики и фотографий</a
            >
          </div>
        </div>

        <!-- chapter-2-3 -->
        <div class="M_ListNavigation" data-chapter-id="chapter-2-3">
          <div
            class="A_CollapseList"
            role="button"
            tabindex="0"
            aria-expanded="false"
          >
            <img class="Q_Chevron" src="" alt="" aria-hidden="true" />
            <a
              class="A_CollapseName"
              href="/handbook/part_2/chapter_3/chapter_2_3.html"
            >
              Вёрстка веб-плаката
            </a>
          </div>
          <div class="C_AticleLinks">
            <a
              class="A_ListItem"
              data-article-id="article-2-3-1"
              href="/handbook/part_2/chapter_3/project-structure.html"
              >Организация проекта</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-3-2"
              href="/handbook/part_2/chapter_3/grid-flex-absolute.html"
              >Grid, Flex и Absolute на практике</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-3-3"
              href="/handbook/part_2/chapter_3/units.html"
              >Относительные и абсолютные величины</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-3-4"
              href="/handbook/part_2/chapter_3/working-with-svg.html"
              >Использование SVG</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-3-5"
              href="/handbook/part_2/chapter_3/media-quireies.html"
              >Вёрстка адаптивов</a
            >
          </div>
        </div>

        <!-- chapter-2-4 -->
        <div class="M_ListNavigation" data-chapter-id="chapter-2-4">
          <div
            class="A_CollapseList"
            role="button"
            tabindex="0"
            aria-expanded="false"
          >
            <img class="Q_Chevron" src="" alt="" aria-hidden="true" />
            <a
              class="A_CollapseName"
              href="/handbook/part_2/chapter_4/chapter_2_4.html"
            >
              Анимации в CSS
            </a>
          </div>
          <div class="C_AticleLinks">
            <a
              class="A_ListItem"
              data-article-id="article-2-4-1"
              href="/handbook/part_2/chapter_4/keyframes.html"
              >Базовые анимации и @keyframes</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-4-2"
              href="/handbook/part_2/chapter_4/timing-functions.html"
              >Timing-функции и характер движения</a
            >
            <a
              class="A_ListItem"
              data-article-id="article-2-4-3"
              href="/handbook/part_2/chapter_4/transitions.html"
              >Transition и hover-эффекты</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
